<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">-->
    <title>首页-心伴医服</title>
	<link rel="icon" type="image/png" sizes="144x144" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/cooperation.css">
	<link rel="stylesheet" type="text/css" href="css/my_index.css">
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<script type="text/javascript">	

</script>
<body>

    <!--头部-->
    <header>
			<div class="header fixed" >
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid nav-mobile">
						<div class="container navbar-wrap">

							<div id="my-navbar-collapse" class="collapse navbar-collapse nav-PC">
							<a href="/">
							<div class="my-logo nav navbar-nav">
								心伴医服
							</div>
							</a>
								<ul class="nav navbar-nav">
									<li class="active">
										<a href="/">首页</a>
									</li>
									<li>
										<a href="#about" class="click1">关于我们</a>
									</li>
									<li>
										<a href="#product" class="click">产品展示</a>
									</li>
									<li>
										<a href="#contact" class="click">联系我们</a>
									</li>
									<li>
										<a href="#friend" class="click">友情链接</a>
									</li>
								</ul>

							</div>
						</div>

					</div>

				</nav>
			</div>
		</header>


    <!--内容部分-->
    <div class="container" id="about">
		<div class="row">
			<div class="col-md-12">

				<h3 class="item-title">关于我们</h3></div>
		</div>
		<div class="after">
		</div>
		<div class="row">
		<div class="container container-goodness">
					<div class="row row-goodness">
						<div class="col-md-6 col-sm-6 col-xs-12  goodness">
							<div>
								<span class="glyphicon glyphicon-edit my_icon" aria-hidden="true"></span>
								<br>
								<strong>专业</strong>
							</div>

							<p class="muted">
								心伴医服是一个年轻、专业的团队，旨在将全球最新、最权威的心血管慢病管理指南和研究成果集成为互联网工具
							</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12  goodness">
							<div>
								<span class="glyphicon glyphicon-cog my_icon" aria-hidden="true"></span>
								<br>
								<strong>科技</strong>
							</div>
							<p class="muted">
								利用新型设备，方便普通人和心血管患者自我实现全面而实时的心血管疾病和危险因素防控
							</p>
						</div>
					</div>
				</div>
		</div>
    </div>

	<div class="container" id="product" >
		<div class="row">
			<div class="col-xs-12">
				<h3 class="item-title">产品展示</h3>
			</div>
		</div>
		<div class="after">
		</div>
		<div class="tubiao"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></div>
		<div class="row">
			<div class="col-md-12 partner-wrap ">
			<div class="thumbnail stu my_product">
				<a href="/show_product" class="my_hover">
				<div class="caption">
					<h3 class="my_title">血压计</h3>
				</div>
				<img class="my_img" alt="血压计" src="images/xueyaji.png">
				</a>
			</div>

			</div>
		</div>

	</div>

	<div class="container" id="contact">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="item-title">联系我们</h3>
			</div>
		</div>
		<div class="after">
		</div>
		<div class="row">
		<div class="container container-goodness">
					<div class="row row-goodness">
						<div class="col-md-6 col-sm-6 col-xs-12  goodness">
							<div>
								<span class="glyphicon glyphicon-phone my_icon" aria-hidden="true"></span>
								<br>
								<strong>联系方式</strong>
							</div>

							<p class="muted">
								电话：15828014583
							<br>
							邮箱：a15828014583@163.com
							</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12  goodness">
							<div>
								<span class="glyphicon glyphicon-map-marker my_icon" aria-hidden="true"></span>
								<br>
								<strong>办公地址</strong>
							</div>
							<p class="muted address">
							成都市高新区天府大道中段199号棕榈泉国际中心27楼
							</p>
						</div>
					</div>
				</div>
		</div>
	</div>

	<div class="container" id="friend">
		<div class="row">
			<div class="col-xs-12">
				<h3 class="item-title">友情链接</h3>
			</div>
		</div>
		<div class="after">
		</div>
		<div class="tubiao"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></div>
		<div class="row">
			<div class="col-md-6 partner-wrap ">
			<div class="thumbnail stu my_product my_sichaun">
				<a href="https://scyz.sc.gov.cn/" class="my_hover">
				<div class="caption">
					<div class="sichuan">四川药械采购与监管</div>
				</div>
				</a>
			</div>
			</div>
			<div class="col-md-6 partner-wrap ">
			<div class="thumbnail stu my_product my_sichaun">
				<a href="http://yjj.sc.gov.cn/" class="my_hover">
				<div class="caption">
					<div class="sichuan">四川省药品监督管理局</div>
				</div>
				</a>
			</div>
			</div>
		</div>
	</div>



    <!--底部footer开始-->
	<footer>
				<div class="footer-top">
					<div class="container foot-links">
						<div class="row">
							<div class="col-md-10 col-sm-10">

								<dl>
									<dt><h6>本站未发布麻醉药品、精神药品、医疗用毒性药品、放射性药品、戒毒药品和医疗机构值机的产品信息</h6></dt>
								</dl>

							</div>
							<div class="col-md-2 col-sm-2">
								<span class="span">微信公众平台</span>
								<br>
								<img src="images/CodePic.jpeg" class="code_pic">
							</div>
						</div>
					</div>
				</div>

				<div class="footer-copyright">
					<a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration: none;color: white;margin-right: 30px;">蜀ICP备2020029082号</a>
					<span id="copyright"></span>
				</div>
<!--				<div class="footer-copyright">《互联网药品信息服务资格证书》编号</div>-->
		</footer>
</body>
</html>