<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">-->
    <title>产品-心伴医服</title>
	<link rel="icon" type="image/png" sizes="144x144" href="images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/header.css">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/footer.css">
	<link rel="stylesheet" type="text/css" href="css/cooperation.css">
	<link rel="stylesheet" type="text/css" href="/css/my_index.css">
	<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/common.js"></script>
</head>
<body>
    <!--头部-->
    <header>
			<div class="header">
				<nav class="navbar navbar-inverse" role="navigation">
					<div class="container-fluid nav-mobile">
						<div class="container navbar-wrap">
							
							<div id="my-navbar-collapse" class="collapse navbar-collapse nav-PC">
							<a href="/">
							<div class="my-logo nav navbar-nav">
								心伴医服
							</div>
							</a>
								<ul class="nav navbar-nav">
									<li >
										<a href="/">首页</a>
									</li>
								
									<li class="active">
										<a href="/show_product">产品展示</a>
									</li>
								
								</ul>

							</div>
						</div>

					</div>

				</nav>
			</div>
		</header>

    <!--内容部分-->
    <div class="main main-cooperation show_content">
      <div class="cooperation-bar">
          <!-- <img src="img/co-op.png" alt="战略合作"> -->
      </div>
      <div class="container container-co">
          <ol class="breadcrumb">
              <li><a href="/">首页</a></li>
              <li class="active">产品展示 </li>
           </ol>
      </div>
      <div class="container container-main show_show">
        <div class="row">
            <div class="col-md-3 sideBar ">
              <dl class="list-group">
                  <dt class="list-group-item">产品展示</dt>
                  <dd class="list-group-item"><a href=""><span class="item-icon"></span>血压计</a></dd>
              </dl>
            </div>  
            <div class="col-md-7 detailBar well">
              <div class="intro">
                  <!-- <div class="col-md-2 col-xs-12 logo thumbnail">
                      <img src="img/tudou.png">
                  </div> -->
                  <div class="col-md-12 col-xs-12 intro-content pull-right">
                      <div class="show_title">
                           血压计
                      </div>
                  </div>
              </div>
              <div class="detail">
                  <img class="show_img" alt="血压计" src="images/xueyaji.png">
              
              </div>
          </div>
          <div class="col-md-2 "></div>
        </div>

      </div>
  </div>



    <!--底部footer开始-->
	<footer>
				<div class="footer-top">
					<div class="container foot-links">
						<div class="row">
							<div class="col-md-10 col-sm-10">

								<dl>
									<dt><h6>本站未发布麻醉药品、精神药品、医疗用毒性药品、放射性药品、戒毒药品和医疗机构值机的产品信息。</h6></dt>
								</dl>

							</div>
							<div class="col-md-2 col-sm-2">
								<span class="span">微信公众平台</span>
								<br>
								<img src="images/CodePic.jpeg" class="code_pic">
							</div>
						</div>
					</div>
				</div>
		<div class="footer-copyright">
			<a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration: none;color: white;margin-right: 30px;">蜀ICP备2020029082号</a>
			<span id="copyright"></span>
		</div>
		<!--				<div class="footer-copyright">《互联网药品信息服务资格证书》编号</div>-->
		</footer>
</body>
</html>